.DS_Store
.coverage
.ipynb_checkpoints
.python-version
__pycache__
.cache
excel
static/downloads
var
venv*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
