.DS_Store
.coverage
.ipynb_checkpoints
.python-version
__pycache__
.cache
excel
static/downloads
var
venv*
*key.json
nocodb
.env
.idea

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
