Flask==3.1.0
gunicorn==23.0.0
boto3==1.37.23
mwparserfromhell==0.6.6
wikitextparser==0.56.4
lxml==5.3.1
beautifulsoup4==4.13.3
Unidecode==1.4.0
openpyxl==3.1.5
psutil==7.2.1
ulid==1.1
cachetools==6.2.4
requests==2.32.3
google-cloud-translate==3.23.0
openai==1.72.0
pandas==2.3.3