container_commands:
  01_create_secrets_dir:
    command: "mkdir -p /etc/secrets"
  02_copy_key:
    command: "cp /var/app/staging/google-cloud-translate-key.json /etc/secrets/google-cloud-translate-key.json"
  03_set_permissions:
    command: "chmod 444 /etc/secrets/google-cloud-translate-key.json"

option_settings:
  aws:elasticbeanstalk:application:environment:
    GOOGLE_APPLICATION_CREDENTIALS: "/etc/secrets/google-cloud-translate-key.json"
